{:paths ["src"]
 ; TODO: figure out a good "unbundled"/peicemeal approach and structure to the repo
 :deps  {aleph/aleph {:mvn/version "0.6.4"}
         aero/aero {:mvn/version "1.1.6"}
         com.taoensso/timbre {:mvn/version "6.3.1"}
         com.walmartlabs/lacinia {:mvn/version "1.2.1"}
         hiccup/hiccup {:mvn/version "2.0.0-RC2"}
         manifold/manifold {:mvn/version "0.4.1"}
         metosin/jsonista {:mvn/version "0.3.8"}
         metosin/muuntaja {:mvn/version "0.6.8"}
         ring/ring-core {:mvn/version "1.11.0"}
         ring/ring-jetty-adapter {:mvn/version "1.11.0"}}
 :aliases
 {:dev
  {:extra-paths ["dev/src" "dev/resources"]
   :extra-deps  {criterium/criterium {:mvn/version "0.4.6"}
                 land.bnert/beh {:git/url "https://github.com/bnert-land/beh"
                                 :git/sha "9fa6ab1ec08646025b4e6516b7222da9d7154922"}
                 org.clojure/tools.namespace {:mvn/version "1.4.4"}
                 }}}}

