{:objects
 {:RangeItem
  {:fields
   {:n     {:type (non-null Int)}
    :range {:type (non-null Int)}}}
  ; --
  :Subscription
  {:fields
   {:range {:type (list :RangeItem)
            :args {:n {:type Int}}}}}}}

