{:paths ["src"]
 :deps
 {aleph/aleph {:mvn/version "0.6.4"}
  example/common {:local/root "../common"}
  com.walmartlabs/lacinia {:mvn/version "1.2.1"}
  land.bnert/graphql.kit {:local/root "../../"}
  ring/ring-core {:mvn/version "1.11.0"}}}

